*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: wheat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    align-items: center;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 10px;
    box-sizing: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    padding: 5px 10px;
    outline: none;
    color: rgb(38, 30, 46);
}

.btn:hover {
    border-color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.next-btn, .start-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}
/* 
main {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;

}

.high-scores {
    padding-top: 10px;
    margin-right: 15px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.quiz, .quiz p {
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: hsl(206, 17%, 28%);
    font-size: 18px;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px 40px;
    text-align: center;
  }
  
main p h2 {
    margin: 0;
    float: left;
}
  
button {
    cursor: default;
    background: #eef1f3;
    border-radius: 30px;
    display: inline-block;
    font-size: 25px;
    padding: 30px 20px;
    margin: 20px 20px 20px 20px;
    text-align: center;
    border: none;
}
 */ 